<div class="container">
    <lp-side-panel *ngIf="mode=='SidePanel'"></lp-side-panel>
    <lp-record-panel *ngIf="mode=='RecordPanel'"></lp-record-panel>
    <!-- <div>
        <button mat-button (click)="openSnackBar([status])" aria-label="Show an example snack-bar">
        SnackBar
        </button>
    </div> -->
</div>



<!-- <table>
    <tr>
         <lp-side-panel *ngIf="mode=='SidePanel'"></lp-side-panel> 
        <lp-record-panel *ngIf="mode=='RecordPanel'"></lp-record-panel>
    </tr>

    <tr>
        <lp-footer> </lp-footer>
    </tr>
</table> -->