<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">LP ToolBar</h1>
  </mat-toolbar>


  <!-- <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="push" class="slide-right">
      <lp-search-bar></lp-search-bar>
      <mat-nav-list *ngIf="queryResults!=null">

        <lp-twizzle mat-list-item routerLink="." [table]="table" *ngFor="let table of queryResults"></lp-twizzle>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      
      <lp-twizzle mat-list-item routerLink="." [table]="table" *ngFor="let table of queryResults"></lp-twizzle>


    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>